.header_dividers {
  position: absolute;

  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .dividers_bottom {
    position: relative;

    span {
      top: 0;
      left: 0;

      display: flex;
      align-items: baseline;
      height: 8px !important;
    }
  }

  span {
    height: 4px;
  }

  span:nth-child(1) {
    width: 15%;
    height: 4px;

    background-color: #023e84;
  }

  span:nth-child(2) {
    width: 35%;

    background-color: #00adef;
  }

  span:nth-child(3) {
    width: 40%;

    background-color: #023e84;
  }

  span:nth-child(4) {
    width: 10%;

    background-color: #fff;
  }

  &.dividers_top {
    top: 0;
    bottom: auto;

    span {
      height: 6px !important;
    }
  }
}
